:root{
  --general-padding:40px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Home page background / Gojo page backgroud */
.HomePagebase-background, .About-Page-Background, .Gojo-page-background, .Ryomen-page-background, .Kento-page-background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index:-2;
  display: flex;
  align-items: center;
  padding:var(--general-padding);
}

/*Home page */
.HomePagebase-background{
  background-image: url("../image/backGround.jpeg");
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px)
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.body-image, .Gojo-body-image, .Ryomen-body-image, .Kento-body-image{
  z-index:2;
  width:100px;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.body-image{
  background-image: url("../image/text-image.png");
  background-position: center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.Gojo-body-image, .Ryomen-body-image, .Kento-body-image{
  background-image: url("../image/Character-page.png");
  width: 200px;
  height: 100px;
}

.Gojo-gif {
  width: 10px;
}

.Name {
  position: fixed; 
  bottom: 30%;
  font-family: 'Baloo Thambi', cursive;
  font-size: 5rem;
  left: 8%;
  bottom: 35%;
}

.Name > span {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow{
  0%, 100%{
    color: white;
    text-shadow: 0 0 12px blue, 0 0 50px blue, 0 0 100px blue;
  }
  10%, 90% {
    color: black;
    text-shadow: none;
  }
}

.Name > span:nth-child(2){
  animation-delay: 0.25s;
}

.Name > span:nth-child(3){
  animation-delay: 0.5s;
}

.Name > span:nth-child(4){
  animation-delay: 0.75s;
}

.Name > span:nth-child(5){
  animation-delay: 1s;
}

.Name > span:nth-child(6){
  animation-delay: 1.25s;
}

.Name > span:nth-child(7){
  animation-delay: 1.50s;
}

.Name > span:nth-child(8){
  animation-delay: 1.75s;
}

.Name > span:nth-child(9){
  animation-delay: 2s;
}

.Name > span:nth-child(10){
  animation-delay: 2.25s;
}



/* Center the content on the page */
.Gojo-page-background {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  height: 100vh; 
}

.Video-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0; 
  width: 100%;
}

.video-scroll-container {
  overflow: hidden; 
  white-space: nowrap; 
  transition: 20s;
  display: flex;
}

.video-wrapper {
  width: 450px;
  height: 200px;
  margin: 0 60px;
  overflow: hidden;
  position: relative;
}

.video-wrapper > iframe {
  border-radius: 20px;
}

.left-button, .right-button {
  margin: 0 10px;
}

iframe {
  width: 100%;
  height: 100%; 
}

/* Adjust for horizontal scrolling */
.Gojo-page-background {
  scroll-behavior: smooth; /* Add smooth scrolling behavior */
}

.Gojo-page-background{
  background-image: url("../image/Gojowallpaper.jpg");
}

.Ryomen-page-background{
  background-image: url("../image/ryomen.png");
}

.Kento-page-background{
  background-image: url("../image/Kento.jpg");
}

.About-Page-Background{
  background-image: url({regularImageUrl});
}


/*Header and Footer*/
header, footer{
  padding: 20px var(--general-padding);
  position: fixed;
  display: flex;
  left: 0;
  width: 100%;
  align-items: center;
}

header a, footer a{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

footer a{
  color: white;
}

header .header-right{
  margin-left: auto;
  display: flex;
  gap: 60px;
  color: white;
}

header a.logo-icon ,footer a.icon{
  display: flex;
  align-items: center;
}

footer a.icon:before, header a.logo-icon:before{
  border-radius:100%;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 6px 0 0; 
  background-size: cover;
  background-repeat: no-repeat;
}

/*Header page*/
header{
  top: 0;
}

header .header-right{
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

header a.logo-icon:before{
  background-image: url("../image/jujutsuIcon.jpg");
}

.glow-on-hover {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.character-menu{
  position:fixed;
  top:0;
  width: 100vw;
  right: -100%;
  bottom:0;
  background-image: url("../image/menu_background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index:999;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.close{
  display:none;
  font-size:50px;
  color:white;
  z-index:1000;
  position: fixed;
  top:20px;
  right:20px;
  cursor:pointer;
}

.character-menu a{
  color: white;
  text-decoration: none;
  font-size: 50px;
  line-height: 2.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


input[type=checkbox]{
  display:none;
}

input[type=checkbox]:checked ~ .character-menu{
  right: 0;
}

input[type=checkbox]:checked ~ .close{
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: purple;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*Footer page*/
footer{
  bottom: 0;
  flex-direction: row;
}

footer .span-items{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
}

footer .medias{
  text-align: center;
}

.hide {
  display: none !important;
}


/* Style for the about page content */
.about-page {
  text-align: center;
  color: #fff; 
  padding: 20px; 
}

h1 {
  font-size: 2em;
}

#container {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 18%;
}

#player {
  width: 100%;
  height: 100%;
}

#player > iframe {
  border-radius: 60px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}



