*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-image{
  background-image: url("../image/Gojowallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index:-1;
}


.body-text{
  z-index:2;
  padding-left: 55px;
  position: fixed;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

header, footer{
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: linear-gradient(blue, pink);
  border: 2px solid black;
  padding: 20px 10px;
}

header a, footer a{
  float: left; /* not going to do these */
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  border-radius: 20px;
}

header a.logo-icon{
  font-size: 25px;
  font-weight: bold;
  display: flex;
}

.header-right{
  float: right;
}

header a.logo-icon:before{
  background-image: url("../image/jujutsuIcon.jpg");
}

h1{
  font-size: 50px;
}

.container{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

footer a.icon:before, header a.logo-icon:before{
  border-radius:100%;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 6px 0 0; 
  background-size: cover;
  background-repeat:no-repeat;
}

footer a.Instagram-icon:before{
  background-image: url("../image/Instagram.webp");  
}

footer a.Discord-icon:before{
  background-image: url("../image/Discord.png");
}

footer a.SnapChat-icon:before{
  background-image: url("../image/SnapChat.png");  
}